:root {
  --primary-colour: #3f8efc;
  --secondary-colour: #00ff00;
  --bg-colour: #ffffff;
  --text-colour: -webkit-linear-gradient(
    225deg,
    rgb(184, 205, 247) 35%,
    var(--primary-colour) 100%
  );
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-colour);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
